<div id="center">

<a href="/mentors">
<div id="mentorbutton">
  Mentors 
  <div id="insidebutton">
    Teach. Inspire. Get free labor. 
  </div>
</div>
</a>

<a href="/learners">
<div id="learnerbutton">
  Learners
  <div id="insidebutton">
    Make yourself useful. Learn something new.
  </div>
</div>
</a>

<div id="mapcontainer"> 
  <div id="maintext"><BR>
  Mentors and Learners Near You
</div>

<!-- Responsive iFrame -->
<div class="Flexible-container">
    <!-- <iframe name="mainmap" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= @url %>">
    </iframe> -->
    <%= render :partial => "map" %>
</div>

</div>
<BR><BR>
</div>
