<BR />
<div id="mapcontainer"> 
<BR>
  <center>
<table class="gradienttable">
  <tr>
    <th>Category</th>
    <th>Course</th>
    <th>Location</th>
    <th>Taught by</th>
    <th>Online Lessons</th>
    <th>In-person Lessons</th>
  </tr>

 <% @music.each do |list| %>
    <tr>
      <td><%= image_tag("music.png") %></td>
      <td><%= link_to list.title, course_path(list.id) %></td>
      <td><%= list.user.zipcode %></td>
      <td><%= list.user.name %></td>
      <td><% if list.online? %>Yes<% else %>No<% end %></td>
      <td><% if list.in_person? %>Yes<% else %>No<% end %></td>
    </tr>
  <% end %>

  </table>
</center>
<BR><BR>

</div>

