<BR />
<div id="mapcontainer"> 
 <h2>Eager Learners awaiting your tutelage</h2>

  <table class="gradienttable">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Skills offered</th>
      <th>About Me</th>
    </tr>

  <% @learners.each do |list| %>
    <tr>
      <td><%= link_to list.name, user_url(list.id) %></td>
      <td><%= list.zipcode %></td>
      <td><%= list.skills %></td>
      <td><%= list.bio %></td>
    </tr>
  <% end %>

  </table>
  <BR><BR>
</div>