/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  margin-right: 1em;
  margin-left: 1em;
}

body {
  margin-left:0px;
  margin-right:0px;
  width: 100%;

}

#container {
  width: 100%;
}

#menubar {
  background-color: beige;
  height: 3.5em;
  text-align: right;
  border-radius: 8px;
  padding-right: 10px;
  padding-top: 1em;
}

#menu {
  height: 2em;
}

#largebutton {
  width: 85%;
  height: 8em;
  background-color: #666;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

#buttontext {
  font-size: 250%;
}